<div class="container-fluid m-0 p-3 nav-theme position-relative">
  <div class="row d-flex justify-content-between w-100">
    <div style="font-size: 2rem" class="logo col-2">
      <b>{{ "Koul." | uppercase }}</b>
    </div>

    <div
      *ngIf="loginStatus"
      class="sub-nav d-flex flex-row col-md-6 justify-content-evenly align-items-center"
    >
      <div>Hey, {{ activeUser || "User" }}</div>
      <div>Resources</div>
      <div (click)="activateTodo()">Todo List</div>
      <div (click)="logout()">
        <i class="fa-solid fa-right-from-bracket" style="color: #ffffff"></i
        >&nbsp;Logout
      </div>
    </div>
    <app-hamburger class="col-1">
      <app-menu-vertical
        [mapping]="mobileMenuMapping"
        class="ham-animate animate-fadeInRight"
      ></app-menu-vertical>
    </app-hamburger>
  </div>
</div>
