<div class="container-fluid m-0 border p-3">
    <div class="row d-flex justify-content-between w-100">
        <div class="logo col-md-6">
            Logo
        </div>
        
        <div class="sub-nav d-flex flex-row col-md-6 justify-content-evenly">
            <div class="search-bar">
                <input type="text" placeholder="search">
            </div>
            <div>
                Resources
            </div>
            <div (click)="activateTodo()">
                Todo List
            </div>
            <div>
                Login/Signup
            </div>
        </div>
    </div>
</div>
<div class="floating-todo" *ngIf="todoSwitchNav">
    <app-todo-list></app-todo-list>
</div>