.floating-todo {
    position: absolute;
    background: white;
    right: 2%;
    padding: 2rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.show {
    display: block;
}

.hide {
    display: none;
}