@import "../../scss/animations.scss";

.floating-todo {
    position: absolute;
    background: white;
    right: 2%;
    padding: 2rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.nav-theme {
    background-color: black;
    color: white;
}

.sub-nav {
  display: block;
}

app-hamburger {
  display: none;
}

.ham-animate {
      position: absolute !important;
      top: 70px;
      right: -40px;
      background: white;
      z-index: 999;
      width: 15rem;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      height: calc(90vh - 68px);
}

@media only screen and (max-width: 850px){
  .sub-nav {
    display: none !important;
  }

    app-hamburger{
      display: block;
    }
}
