@import "../../scss/animations.scss";

.sub-menu {
  font-size: 20px;
  a {
    text-decoration: none;
    color: black;
  }

  i {
    font-size: 26px;
    min-width: 26px;
  }

  a:hover {
    background-color: #d0e1f9;
    // animation: ease-in 1s fadeIn;
    width: 60%;
    border-radius: 30px;
  }
}

.sub-menu__list {
  border-radius: 1rem;
  padding: 0.5rem !important;
  margin-left: 15px;
  width: 90%;
}

.active {
  color: #1058ca !important;
  font-weight: 600;
}
