<div class="row sub-menu w-100 m-0">
    <a class="sub-menu__list" routerLink="feed" routerLinkActive="active">
        <div class=" col-12">
            My Feed
        </div>
    </a>
    <a class="sub-menu__list" routerLink="my-posts" routerLinkActive="active">
        <div class=" col-12">
            My Posts
        </div>
    </a>
    <a class="sub-menu__list" routerLink="liked" routerLinkActive="active">
        <div class=" col-12">
            Liked Posts
        </div>
    </a>
    <a class="sub-menu__list" routerLink="tags" routerLinkActive="active">
        <div class="col-12">
            Tags
        </div>
    </a>
</div>