.sub-menu{
    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        font-weight: 600;
        animation: fadeIn 1s;
    }
    
}

.sub-menu__list{
    border-radius: 1rem;
    margin: 1rem !important;
    width: 90%;

}

.active{
    background-color: white;
    padding: 1rem;
    font-weight: 600;
}

