:host {
  width: 90%;
}

input {
    background-color: rgb(212, 208, 208);
    border: none;
    outline-color: purple;
    margin-bottom: 0.8rem;
    border-radius: 6px;
    height: 2.6rem;
    width: 100%;
}

.label {
    text-align: left;
    display: block;
    font-size: smaller;
}

.input-span {
      background: gray;
      border-radius: 2rem;
      height: 2.5rem;
      align-items: center;
      display: flex;
      justify-content: center;
      color: silver;
      font-weight: 900;
}

