@import "./bem-mixins.scss";
@import "./variables.scss";
@import "./functions.scss";

@include block('hr'){
    @include element('title'){
        width: 40%;
        display: inline;
    }
}

@include block('modal'){
    @include element('bg'){
        background-color: $dark;
    }

    @include element('field'){
        background-color: $dark-field;
    }
}


@include block('feed'){
    @include element('subtitle'){
        font-size: 1rem;
        font-weight: 500;
    }
}


@include block('comment'){
    background-color: rgb(243, 243, 243);
    border-radius: 1rem;
    margin-top: 1rem;
    padding-top: 1rem;
    
    @include element('core'){
        display: flex;
        flex-direction: column;
    }

    @include element('card'){
        display: flex;
        flex-direction: row;
        // padding: 1rem 0;
        // margin: 2rem 0 0 0;
        padding: 1rem;
    }

    @include element('dp'){
        padding: 0;
        
        @include modifier('initials'){
            border-radius: 50%;
            padding: 0.3rem 0.6rem;
            margin-right: 1rem;
            color: white;
            background-color: colorShuffle();
        }
    }
}

@include block('w-30'){
    width: 30% !important;
}
@include block('w-40'){
    width: 40% !important;
}
@include block('w-60'){
    width: 60% !important;
}
@include block('w-70'){
    width: 70% !important;
}