<h1>Testing Real-time feature of Firebase</h1>
<h2>Dummy form</h2>
<form (ngSubmit)="submit()" #testForm="ngForm">
  <div class="form-group">
    <input type="number" name="userId" ngModel #userId="ngModel">
    <input type="text" name="name" ngModel #name="ngModel">
    <input type="email" name="mail" ngModel #mail="ngModel">
    <input type="text" name="dp" ngModel #dp="ngModel">
  </div>
  <button type="submit">Submit</button>
</form>
<h1>Feed</h1>
<div *ngFor="let item of liveFeed | keyvalue">
  <span>{{item.key}} {{item.value['email']}}</span>
</div>