.feed__card {
    width: 95%;
    padding: 1rem;
    border-radius: 1rem;

    .mini-profile{
        margin-bottom: 1rem;
        .dp {
            img {
                width: 60px;
                border-radius: 50px;
            }
        }

        .info{
            line-height: 20px;
            margin-left: 0.5rem;
        }
    }
}