.feed__card {
    width: 95%;
    padding: 1rem;
    border-radius: 1rem;

    .mini-profile{
        margin-bottom: 1rem;
        .dp {
            img {
                width: 60px;
                border-radius: 50px;
            }
        }

        .info{
            line-height: 20px;
            margin-left: 0.5rem;
        }

        .like:active{
            animation: shake 0.1s ;
        }
    }
}

@keyframes shake {

    0% { transform: rotate(0deg); }
  25% { transform: rotate(20deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-20deg); }
  100% { transform: rotate(0deg); }
    
}