@import "../../scss/themes.scss";
@import "../../scss/animations.scss";

.feed__card {
    transition: all .2s ease-in-out;
    width: 100%;
    color: white;
    padding: 1rem;
    border: 1px solid #4a4a4a;

    .mini-profile{
        margin-bottom: 1rem;
        .dp {
            img {
                width: 60px;
                height: 60px;
                border-radius: 50px;
                object-fit: cover;
            }
        }

        .initials {
              font-size: 2rem;
              width: 60px;
              height: 60px;
              display: flex;
              align-items: center;
              justify-content: center;
        }

        .info{
            line-height: 20px;
            margin-left: 0.5rem;

            .author{
              font-weight: bold;
            }

            .parent-tag{
              font-size: smaller;
              color: #cdcdcd;
            }
        }

        .like:active{
            animation: shake 0.1s ;
        }
    }
}

.feed__card:hover{
    background-color: #161d2da8;
}
