.custom-btn {
    border: none;
    background-color: white;
    padding: 1rem 5rem;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;

    i {
        font-size: 25px;
        display: flex;
        align-items: center;
        color: lightseagreen;
    }

    span {
        display: flex;
        align-items: center;
        font-weight: 900    ;
    }

}

.custom-btn:hover {
    cursor: pointer;
    i {
        animation: rotating 0.3s linear ;
    }
}


@keyframes rotating {
    to {
        transform: rotate(90deg);
    }
    // 0% {
    // -ms-transform: scale(1);
    // -moz-transform: scale(1);
    // -webkit-transform: scale(1);
    // -o-transform: scale(1);
    // transform: scale(1);
    // }
    // 50%{
    //     transform: scale(0.9);
    // }
    // 100% {
    // -ms-transform: scale(1);
    // -moz-transform: scale(1);
    // -webkit-transform: scale(1);
    // -o-transform: scale(1);
    // transform: scale(1);
    // }
  }

//   @keyframes scaleUp {
//     to {
//         transform: scale(1.03);
//     }
//   }