body {
    overflow: hidden;
}

@keyframes fadeIn{
    0% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }

}
@mixin block($block) {
    .#{$block} {
      @content;
    }
  }
  
  @mixin element($element) {
    &__#{$element} {
      @content;
    }
  }
  
  @mixin modifier($modifier) {
    &--#{$modifier} {
      @content;
    }
  }
  