<div
  class="mobile-menu w-100 d-flex justify-content-evenly px-3 py-2 align-items-center"
>
  <a
    *ngFor="let map of SharedService.menuMapping"
    class="text-decoration-none"
    [routerLink]="map.routerLink"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: false }"
  >
    <div class="d-flex gap-2">
      <i
        routerLinkActive="fa-solid"
        class="fa-regular {{ map.icon }} d-flex align-items-center text-white"
      ></i>
      <span id="label">{{ map.text }}</span>
    </div>
  </a>
</div>
